@import "./../../style/main.scss";
.thank {
  padding: 30px 0 50px 0;
  &__container {
    @include container();
  }
  &__content {
    padding: 70px 0 20px;
    background: $bg_card;
    @media (max-width: $tablet) {
      padding: 38px 0 20px 0;
    }
  }
  &__content_inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    @media (max-width: $tablet) {
      grid-template-columns: repeat(4, 1fr);
      padding: 0 20px;
    }
  }
  &__logo {
    width: 80px;
    height: 80px;
    grid-column: 2/3;
    @media (max-width: $desktop) {
      grid-column: 1/2;
    }
    @media (max-width: $tablet) {
      grid-row: 1/1;
      grid-column: 1/5;
    }
  }
  &__title {
    grid-column: 3/7;
    @include h2();
    @media (max-width: $desktop) {
      grid-column: 2/7;
    }
    @media (max-width: $tablet) {
      grid-row: 2/2;
      grid-column: 1/5;
      padding-top: 20px;
    }
  }
  &__text {
    @include text_s();
    grid-column: 7/11;
    padding-top: 10px;
    @media (max-width: $desktop) {
      grid-column: 7/12;
    }
    @media (max-width: $tablet) {
      padding-top: 25px;
      grid-row: 3/3;
      grid-column: 1/5; 
    }
  }
  &__button {
    margin-top: 64px;
    @include btn_wide();
    @media (max-width: $tablet) {
      margin-top: 15px;
    }
  }
}
