//font-family
$Signika: "Signika";
$PlayfairDisplay: "Playfair Display";
//color
$white: #ffffff;
$white_pale: rgba(255, 255, 255, 0.8);
$white_muddy: rgba(255, 255, 255, 0.5);
$gold: #ffe195;
$gold_muddy: #cfb87e;
$black: #000000;
$black_gold: #0e1420;
$transition: 0.5s;
//background
$bg_menu_mobile: rgba(1, 23, 45, 0.95);
$bg_card: rgba(22, 40, 63, 0.87);
$bg_preloader: #0e1420;
//point
$big-desktop: 1180px;
$desktop: 1023px;
$tablet: 768px;

$header-point: 456px; 
