@import "./../../style/main.scss";
.footer { 
  &__block {
    padding: 50px 0;
    .nav__link {
      margin-right: 24px;
      padding: 5px;
      @media (max-width: $tablet) {
        display: inline-block;
        white-space: nowrap;
        text-align: left;
        width: 27%;
        margin-right: 0px;
      }
      @media (max-width: 520px) {
        width: 50%;
      }
    }
  }
  &__container {
    @include container();
  }
  &__row {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }
 
  
  &__button {
    color: $black;
    background: $gold;
    transition: $transition;
    letter-spacing: 1px;
    @media (max-width: $tablet) {
      margin-top: 20;
    }
    &:hover {
      color: $black;
      background: $gold_muddy;
    }
  }
  &__box_logo {
    display: flex;
  }
  &__logo {
    transition: $transition;
    &:hover {
      opacity: 0.7;
    }
    &-BBB {
      width: 170px;
      height: 41px;
      background-repeat: no-repeat;
      background-size: contain;
    }
    &-NAPP {
      margin-left: 30px;
      width: 80px;
      height: 43px;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__social_link {
    margin-left: 11px;
  }
  &__box_stars {
    display: flex;
    margin-left: 10px;
  }
  // звёзды рейтинга
  &__star {
    cursor: pointer;
    height: 17px;
    width: 16px;
    margin-right: 4px;
  }
  &__text {
    @include text_style(14, 10);
    font-weight: 300;
    font-family: $Signika;
    margin: 0px;
    letter-spacing: 0.3px;

    &_rating {
      color: $white;
    }
    &_address {
      color: $white_muddy;
      @media (max-width: $tablet) {
        line-height: 20px;
      }
    }
    &_contacts {
      color: $white_muddy;
      @media (max-width: $tablet) {
        padding-top: 20px;
      }
    }
  }
  &__phone {
    @include text_style(14, 10);
    font-family: $Signika;
    color: $gold;
    font-weight: 300;
    transition: $transition;
    letter-spacing: 0.3px;

    &:hover {
      color: $gold_muddy;
    }
  }
}
