@import "./../../style/main.scss";
.footer {
  &__block {
    padding: 50px 0;
  }
  &__container {
    @include container();
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  &__button {
    @include btn-arrow();
    &::before {
      color: $black; 
      background: url("./../../img/Sprait.png") -1px -173px/645px 297px no-repeat;
      position: absolute;
      content: "";
      left: 12px;
      top: 9px;
      width: 15px;
      height: 10px;
    }
    @media (max-width: $tablet) {
      margin-top: 20;
    }
    &:hover{
        text-decoration: none;
        color: $black;
        background: $gold_muddy;
    }
  }
  &__box_logo {
    display: flex;
  }
  &__logo {
    margin-right: 10px;
  }

  &__social_link {
    margin-left: 11px;
  }
  &__box_stars {
    display: flex;
    margin-left: 10px;
  }
  &__star {
    cursor: pointer;
    height: 17px;
    width: 16px;
    margin-right: 4px;
  }
  &__text {
    @include text_style(14, 10);
    font-weight: 300;
    font-family: $Signika;
    margin: 0px;
    letter-spacing: 0.3px;

    &_rating {
      color: $white;
    }
    &_address {
      color: $white_muddy;
      @media (max-width: $tablet) {
        line-height: 20px;
      }
    }
    &_contacts {
      margin: 0;
      color: $white_muddy;
      @media (max-width: $tablet) {
        padding-top: 20px;
      }
    }
  }
  &__phone {
    @include text_style(14, 10);
    font-family: $Signika;
    color: $gold;
    font-weight: 300;
    transition: $transition;
    letter-spacing: 0.3px;

    &:hover {
      color: $gold_muddy;
    }
  }
}
